<mat-card>
    <mat-card-title>Nova sala</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="nome" placeholder="Nome" [(ngModel)]="sala.nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="data" placeholder="Data" [(ngModel)]="sala.data" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="horaInicio" placeholder="Hora início" [(ngModel)]="sala.horaInicio" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="horaFim" placeholder="Hora fim" [(ngModel)]="sala.horaFim" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="delete()" color="warn">
        Excluir
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>